.Sequent-proposition-extender {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0.2em 0.5em;
    margin: -0.2em -0.5em;
}

.Sequent-proposition {
    z-index: 2;
    border-radius: 0.2em;
}

.Sequent-proposition.Sequent-usage-full {
    color: black;
}

.Sequent-proposition.Sequent-usage-partial {
    color: gray;
}

.Sequent-proposition.Sequent-usage-none {
    color: #ddd;
}

.Sequent-proposition.Sequent-no-hover {
    border: 1px solid rgba(255, 255, 255, 0);
}

.Sequent-proposition.Sequent-parent-hover {
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: #eee;
}

.Sequent-proposition.Sequent-hover {
    border: 1px solid #ddd;
    background-color: #eee;
}

.Sequent-proposition.Sequent-actionable {
    border: 1px outset #ccc;
}

span.Sequent-proposition.Sequent-pairing-state {
    border: 1px dashed blue;
}

.Sequent-proposition-extender.Sequent-actionable {
    cursor: pointer;
}
