.Sequent-usage-full {
    color: black;
}

.Sequent-usage-partial {
    color: gray;
}

.Sequent-usage-none {
    color: #ddd;
}

.Sequent-no-hover {
    border: 1px solid rgba(255, 255, 255, 0);
}

.Sequent-parent-hover {
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: #ddd;
}

.Sequent-hover {
    border: 1px solid red;
    background-color: #ddd;
}

span.Sequent-pairing-state {
    border: 1px dashed blue;
}

.Sequent-actionable {
    cursor: pointer;
}
