.DeriveTreeNode-node {
    display: grid;
    padding: 1px;
    /* border: 1px #333333 solid; /* debug */
}

.DeriveTreeNode-sequent {
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 0 / 1;
    border-bottom: 1px black solid;
}

.DeriveTreeNode-children {
    grid-row: 0 / 1;
    grid-column: 0 / 1;

    margin-right: 10px;
    margin-left: 10px;

    display: flex;
    justify-content: center;
}

.DeriveTreeNode-child {
    padding-right: 10px;
    padding-left: 10px;
}
