.DeriveTreeNode-subtree {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        1.5em
        1fr;
    grid-template-areas:
        "node    "
        "children";
    padding: 1px;
    /* border: 1px #333333 solid; /* debug */
}

.DeriveTreeNode-node {
    grid-area: "node";

    position: relative;
}

.DeriveTreeNode-node.DeriveTreeNode-local-done {
    border-bottom: 1px black solid;
}

.DeriveTreeNode-sequent {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.DeriveTreeNode-menu-left {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 80%;
}

.DeriveTreeNode-menu-right {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 80%;
}

button.DeriveTreeNode-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button.DeriveTreeNode-expand-button.DeriveTreeNode-nonfoldable {
    display: none;
}

button.DeriveTreeNode-close-button.DeriveTreeNode-local-pending {
    display: none;
}

.DeriveTreeNode-children {
    grid-area: "children";

    margin-right: 10px;
    margin-left: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DeriveTreeNode-children.DeriveTreeNode-folded {
    display: none;
}

.DeriveTreeNode-child {
    padding-right: 10px;
    padding-left: 10px;
}

.DeriveTreeNode-fold-placeholder {
    grid-area: "children";
    text-align: center;
}

.DeriveTreeNode-fold-placeholder.DeriveTreeNode-expanded {
    display: none;
}
